.toDo_header {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 27px;
}
.toDo_item {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    height: auto;
    transition: background-color 0.25s ease;
    padding-left: 27px;
    height: 100%;
}
.toDo_item>div{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.resizable_element {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: 1px solid #2980b9;
    cursor: col-resize; /* Изменение курсора при наведении мыши */
  }